.App {
  text-align: center;
}

.App-content {
  background-color: #282c34;
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
  color: white;
  display: flex;
  flex-flow: column;
}

.ListOfGifs {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.Gif {
  background-color: #000;
  border-radius: 6px;
  color: white;
  display: flex;
  flex-direction: column;
  height: 300px;
  margin: 1em;
  text-decoration: none;
  width: 250px;
  overflow: hidden;
  justify-content: space-between;
}

.Gif img {
  max-width: 100%;
}

a {
  color: #3bf;
}
